.cartWidget{
    display: flex;
    border: 2px solid white;
    padding: 5px;
}
.cartWidget__Icon{
    width: 60px;
    padding: 2px;
}
.cartWidget__Number{
    color: black;
    font-size: 20px;
    padding-right: 5px;
    padding: 10px;
}